@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Acceso Restringido</title>
    <link rel="stylesheet" href="~/vendors/bundle.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/app.min.css" type="text/css">
</head>
<body class="error-page bg-white">

    <div class="p-b-50 d-block d-lg-none"></div>

    <div>
        <h4 class="mb-0 text-muted font-weight-normal">Tu petición no superó el catpcha de Google :c</h4>
        <div>
            <span class="error-page-item font-weight-bold">4</span>
            <span class="error-page-item font-weight-bold">0</span>
            <span class="error-page-item font-weight-bold">3</span>
        </div>
    </div>

</body>
</html>
