@model CREA3M.Models.LoginModel

@{
    ViewBag.Title = "Index";
    Layout = "";
}

<!doctype html>
<html lang="es">

<!-- Mirrored from protable.laborasyon.com/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 18 Oct 2019 17:43:05 GMT -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CREA - LOGIN</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/assets/media/favIcon.png" type="image/x-icon">

    <!-- Plugin styles -->
    <link rel="stylesheet" href="~/vendors/bundle.css" type="text/css">

    <!-- App styles -->
    <link rel="stylesheet" href="~/assets/css/app.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/custom.css" type="text/css">
</head>

<body class="form-membership">

    <!-- begin::preloader-->
    <div class="preloader">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="50px" height="50px" viewBox="0 0 128 128"
             xml:space="preserve">
        <rect x="0" y="0" width="100%" height="100%" fill="#FFFFFF" />







        <g>
        <path d="M75.4 126.63a11.43 11.43 0 0 1-2.1-22.65 40.9 40.9 0 0 0 30.5-30.6 11.4 11.4 0 1 1 22.27 4.87h.02a63.77 63.77 0 0 1-47.8 48.05v-.02a11.38 11.38 0 0 1-2.93.37z"
              fill="#000000" fill-opacity="1" />



        <animateTransform attributeName="transform" type="rotate" from="0 64 64" to="360 64 64" dur="500ms"
                          repeatCount="indefinite">
                </animateTransform>
            </g>
        </svg>
    </div>
    <!-- end::preloader -->

    <div class="form-wrapper">

        <!-- logo -->
        <div id="logo">
            <img class="logo" src="~/assets/media/logo_grande.png" alt="image" style="width: 40%; margin-bottom: 10px;">
        </div>
        <!-- ./ logo -->

        <h5>Panel de control</h5>

        <!-- form -->
        @using (Ajax.BeginForm("Login", "Login", null,
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "LoginSuccess",
                    OnFailure = "LoginFailure"
                },
                new { id = "AjaxForm" }))
        {
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="username">Nombre de usuario</label>
                        @Html.TextBoxFor(model => model.Usuario, null, new { @class = "form-control", placeholder = "Nombre de usuario", type = "text", required = "required" })
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        @Html.TextBoxFor(model => model.Password, null, new { @class = "form-control", placeholder = "Contraseña", type = "password", required = "required" })
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label for="password">Selecciona tu sucursal</label>
                        @Html.DropDownListFor(model => model.defaultDB, (List<SelectListItem>)ViewBag.sucursales, null, new { @class = "form-control", required = "required" })
                    </div>
                </div>
                <input id="token" type="text" name="Token" class="d-none" />
                <div class="col-12">
                    <button class="btn btn-primary btn-block" type="submit">Iniciar Sesión</button>
                </div>
            </div>
        }
        <div class="row m-t-10">
            <div id="privacy" class="col-sm-12">
                <p style="text-decoration: underline;" class="text-secondary cursor-pointer text-uppercase">Este sitio web implementa reCAPTCHAv3, da click aqui para mas información</p>
            </div>
        </div>

    </div>

    <!-- Plugin scripts -->
    <script src="~/vendors/bundle.js"></script>
    <script src="~/assets/js/app.min.js"></script>
    @Scripts.Render("~/bundles/jqueryajax")
    <script src="https://www.google.com/recaptcha/api.js?render=6Lf3xqsZAAAAAJzlBCq4aCK0EfPZeXX7f3jvV1vt"></script>
    <script src="~/assets/js/index.js"></script>
</body>
</html>

