input{
    margin-bottom: 0 !important;
}

.dataTables_wrapper .row:nth-child(3){
    margin-top: 10px;
}

.table-bordered td {
    padding: 7px;
}

.navigation .navigation-menu-body > ul li a.active {
    color: #f52121;
}

.navigation .navigation-menu-body > ul li a.active:before {
    background-color: #f52121;
}

body.small-navigation:not(.hidden-navigation) .navigation .navigation-menu-body ul li.open>a{
    border-color: #FB604C;   
}

.header ul.navbar-nav li.nav-item a.nav-link:focus , .header ul.navbar-nav li.nav-item a.nav-link:hover{
    color: #FB604C0f;
}

.navigation .navigation-menu-body > ul li a:hover {
    background: #f521210f !important;
}

.pagination .page-item.active .page-link {
    color: white !important;
    background: #f52121;
}

.page-link {
    color: #f52121;
}

.primary-bg {
    color: white;
    background-color: #f52121;
}

/* .bg-primary, .btn-info{
    background: white !important;
    border-color: #E1CAC8 !important;
    color: #FB604C !important;
}

.btn-info:hover{
    color: #FC863Faf !important;
} */

.btn.btn-primary:not(:disabled):not(.disabled):hover {
    background: #141414ca !important;
    border-color: #141414ca !important;
}

.btn.btn-danger:not(:disabled):not(.disabled):hover{
    background: #c23320 !important;
    border-color: #c23320 !important;
}

.btn-danger{
    background: #FB604C !important;
    border-color: #FB604C !important;
}

.btn-primary {
    background: #141414 !important;
    border-color: #141414 !important;
}

.btn:hover{
    color: white;
}

.red-color {
    color: #f52121;
}

.black-color {
    color: #141414;
}

.label-info-crea {
    font-weight: 600;
    color: var(--danger);
}